* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: block;
}

.backimg {
    margin: 0 auto;
}

.backimg img {
    width: 100%;
}

.cards-wi {
    width: 25%;
    display: inline-block;
    margin: 0 50px;
}

.text-color {
    color: rgb(128, 128, 122);
    font-size: 25px;
}

.button-wi button {
    margin: 0 8px;
}

.button-wi .abc {
    margin: 0 15px;
}

.product-cards {
    display: inline-block;
}